@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(spidy.webp) no-repeat center center fixed;
    background-size: cover;
    color: #171717;
    margin: 0;
    padding: 0;
}


.container{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    color: #171717;
    width: 40%;
    padding: 2rem;
    margin: 4rem auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.weather-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    
    border: none;
    background: #1e1e1e;
    color: #fff;
    outline: none;
    padding: 0.5rem 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input::placeholder{
    color : #fff;
}

.weather-search{
    position: relative;
}

.weather-search i{
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    color: #fff;
}